* {
  box-sizing: border-box;
}


/*GENERAL HTML TAGS AND CSS STYLES*/
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 0 15px;
}


/*MOBILE FIRST CSS*/

header > h1 {
  text-transform: uppercase;
  background-color: #4d4d4d;
  color: white;
  text-align: center;
  margin: 0;
  line-height: 100px;
  height: 100px;
  font-size: 15px;
}

div > h3 {
  text-align: center;
}

div > p {
  text-align: center;
}

hr:nth-child(2) {
  border: none;
  height: 5px;
  color: black;
  background-color: #4d4d4d;
  margin-bottom: 5px;
}

hr:nth-child(3) {
  border: none;
  height: 3px;
  color: black;
  background-color: #4d4d4d;
  margin-top: 5px;
}

hr:nth-child(1) {
  border: none;
  height: 3px;
  color: black;
  background-color: #4d4d4d;
  margin-top: 5px;
}

label,
input {
  display: block;
}

input[type^="checkbox"],
label[for$="-news"],
input[type^="radio"],
label[for$="-option"] {
  display: inline;
}



fieldset {
  border: none;
}
